opencv-python>=4.9,<5
mediapipe>=0.10,<0.11
ultralytics>=8.3,<9
clip @ git+https://github.com/ultralytics/CLIP.git@488e81a6711eea7346872b46ea928b367da8889d
numpy>=1.26,<2
pandas>=2.2,<3
scikit-learn>=1.5,<2
PyYAML>=6,<7
python-dotenv>=1,<2
psutil>=6,<7
kaggle>=1.7,<2
